h1, .HyperMD-header-1, .markdown-rendered h1, h2, .HyperMD-header-2, .markdown-rendered h2 {text-align: center;}

h4, .markdown-rendered h4, .HyperMD-header-4, h5, .markdown-rendered h5, .HyperMD-header-5, h6, .markdown-rendered h6, .HyperMD-header-6 {font-style: oblique;}

h6, .markdown-rendered h6, .HyperMD-header-6 {font-variant-caps: small-caps;}