cite, span.author, blockquote > p, .cm-quote{font-size: 1.15em;}

.MJX-TEX {font-size: 150%;}

.small-math .MJX-TEX {font-size: 120%;}

.big-math .MJX-TEX {font-size: 200%;}

.block-language-tracker div {font-family: "JetBrains Mono"; font-size: 1em;}

.canvas-node-content .block-language-tracker {margin: 1rem auto; min-width: fit-content;}
.canvas-node-content .block-language-tracker svg {width: max-content;}

.canvas-node-content p {font-size: 2.5rem;}
.canvas-path-label {font-size: 2rem;}

.canvas-group-label {font-size: 2rem;}
