# FORMATOS
## Formatos Binarios

*.png
*.pdf

# CONFIGURACION DE VAULT

.Config/workspace*
!.Config/workspaces.json
.Config/themes/

## Plugins

.Config/plugins/**/main.js
.Config/plugins/**/manifest.json
.Config/plugins/**/style.css
!.Config/plugins/**/data.json

## Configuraciones de plugins que almacenan tokens/API-keys

.Config/plugins/google-calendar/data.json
.Config/plugins/obsidian-toggl-integration/data.json
.Config/plugins/obsidian-zotero-desktop-connector/data.json

# NOTAS

.trash/

## Notas Cambiantes

6-Flujo/0_Mesa-de-Trabajo.md
6-Flujo/1_Cache.md

# EXTERNOS 

*.ini
.megaignore
Rubbish/
