.data-link-icon[data-link-tags]:not([data-link-path*="A-Utility/A.1-Classes/"])::before{content: attr(data-link-tags)" ";}

.data-link-icon[data-link-status]:not([data-link-path*="A-Utility/A.1-Classes/"])::before{content: attr(data-link-status)" ";}

.data-link-icon[data-link-icon]:not([data-link-path*="A-Utility/A.1-Classes/"])::before{content: attr(data-link-icon)" ";}
